### ccbs-study-2 ###

# Non-raw data
data/processed/*

# Knit documents
src/*.pdf
src/*.html

### General ###

# macOS Finder artifacts
.DS_Store

### Python ###

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
env/
venv/
.env/
.venv/

### RStudio ###

# User files
.Rhistory
.Rproj.user
.Ruserdata

### Microsoft Office ###

# Temporary files
~$*
